.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.tic-tac-toe{
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin: 50px auto;
  margin-top: 150px;
}
.ttt-grid{
   width: 100px;
   height: 100px;
   border: 1px solid black;
   float: left;
   box-sizing: border-box;
    color:black ;
   font-size: 60px;
   font-weight:normal;
   display:flex;
   align-items: center;
   justify-content: center; 
}
.element{
  /* width:inherit; */
 
  /* margin:10px 0 ; */
   /* display:flex; */
  
  /* align-items: center; */
  /* color: blueviolet; */
  /* background-color: cadetblue; */
 


}
